#container {
  background-color: gray;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#header {
  background-color: #b31323;
  margin: 10px;
  border-radius: 50%;
  border: 5px solid black;
  padding: 10px;
  margin-bottom: 30px;
}
